#logo {
    width: 50px;
    height: 50px;
}

article {
    padding: 20px;
}

#main-charts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 40px;
}

.country-flag-icon {
    max-height: 16px;
}

canvas {
    max-width: 100%;
}

/* Desktop configuration */
@media (min-width:1025px) {
    #main-charts {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
}